*{
	box-sizing:border-box;
}

body{
	font-family: Arial, sans-serif;
	background: #B2DFDB;
	font-size: 28px;
}

h1{
	color:#5E35B1;
}
.row{
	background-color: yellow;
	width: 60%;
	border:solid;
	padding:5px;
}
.row::after{
	content:'';
	clear:both;
	display:block;
	
}
.dark {
	background-color: #3F51B5;
	width: 50%;
	padding: 20px;
	color: #C5CAE9;
	border: solid;
	border-color:#222222;
	float:left;
}

.light {
	background-color: #EEEEEE;
	width: 50%;
	padding: 20px;
	color: #C5CAE9;
	border: solid;
	border-color:#222222;
	float:left;	
}